@import "slate-theme/bootstrap";
@import "slate-theme/bootswatch.min";

@import "compass/utilities/sprites";
@import "../public/units/*.png";
@include all-units-sprites;

@import "compass/utilities/sprites";
@import "../public/units-small/*.png";
@include all-units-small-sprites;

.bs-docs-section {
  margin-top: 4em;
}

.navbar-default .navbar-nav > li > a.active {
  color: #ffffff;
  background-color: #272b2e;
}

.units-sprite {
  width:50px;
  height:50px;
  float:left;
}

.units-small-sprite {
  width:28px;
  height:28px;
  float:left;
}

.terrainPreview {
  background-position: -15px -15px;
  width: 100%;
  height: 35px;
  padding: 3px;
}

.ice {
  background-image: url("/public/terrains/ice.jpg");
}

.desert {
  background-image: url("/public/terrains/desert.jpg");
}

.water {
  background-image: url("/public/terrains/water.jpg");
}

.terrest {
  background-image: url("/public/terrains/terrest.jpg");
}

.rock {
  background-image: url("/public/terrains/rock.jpg");
}

.forest {
  background-image: url("/public/terrains/forest.jpg");
}

table.gamesPreview tr td {
  padding-top: 20px;
}

table.gamesPreview tr td.unitRoaster {
  padding-top: 15px;
}

.unit-cell {
  position:relative;
  cursor:pointer;
}

.unit-cell-quantity {
  position:absolute;
  top:75%;
}

.playerStash {
  overflow:hidden;
  background-position: -15px -15px;
  width:450px;
  padding:5px;
}

.board {
  width:482px;
  height:482px;
  padding:15px;
}

.board table {
  background:none;
  border-collapse: separate;
  border-spacing:2px;
}

.board table tr td {
  width:54px;
  height:54px;
  border-color:#000;
  border-style:solid;
  border-width:1px;
}
